# due to https://github.com/sqlalchemy/alembic/issues/934
alembic
flask
Flask-SQLAlchemy
psycopg2-binary
PyMySQL
SQLAlchemy
gunicorn
flask-restx
Flask-Dance[sqla]
flask-login
blinker
flask-jwt-extended
google-api-python-client
google-auth-httplib2
google-auth-oauthlib
