# due to https://github.com/sqlalchemy/alembic/issues/934
alembic==1.6.5

flask
Flask-SQLAlchemy
psycopg2-binary
PyMySQL
SQLAlchemy
gunicorn
flask-restx
Flask-Dance[sqla]
flask-login
blinker
flask-jwt-extended
